<!DOCTYPE html>
<html>
<head>
  <title>URL Shortener API</title>
  <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
  <div>
    <h1>URL Shortener API</h1>
    <p>This API converts a url parameter into a shortened url. Shortened url will redirect to the original link.</p>
    <h3>Example creation usage:</h3>
    <code>https://url-shortener-backend.herokuapp.com/new/https://www.google.com</code>
    <h3>Example creation output:</h3>
    <code>"{ "original_url":"https://www.google.com", "short_url":"https://url-shortener-backend.herokuapp.com/8170" }"</code>
    <h3>Example usage:</h3>
    <code>https://url-shortener-backend.herokuapp.com/8170</code>
    <h3>Example output:</h3>
    <code>https://www.google.com</code>
  </div>
</body>
</html>